<body>
  <app-nav-menu></app-nav-menu>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div class="container">
    <div style="display: block" *ngIf='signalRService.data'>
      <canvas baseChart width="400" height="400"
              [datasets]="signalRService.data"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="chartLegend"
              [chartType]="chartType"
              [colors]="colors"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <br><br>
    <ul>
      <li *ngFor='let data of signalRService.bradcastedData'>
        <strong>Label: </strong> {{data.label}} - <strong>Value: </strong> {{data.data[0]}}
      </li>
    </ul>
  </div>
</body>
